<!DOCTYPE html>
<html lang="en">
<head>
    {{>insideHeader}}
</head>
<body>
    {{>navbar}}
    <div class='container-fluid menu'>
        <div class='row'>
            <div class='col-md-10 col-12 mx-auto'>
                <div class='row'>
                    <div class='col-md-6 col-sm-12 home_left'>
                        <p>Suman Sharma</p>
                        <h1>Web developer</h1>
                        <a href='/'><button class='check_now'>Check website</button></a>
                    </div>
                    <div class='col-md-6 col-12 home_right'>
                        <figure>
                            <img src="images/16.jpg" class='about_image'/>

                        </figure>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>